* {
  margin: 0;
  padding: 0;
  font-family: "popins", sans-serif;
  /* list-style: none; */
  text-decoration: none;
}
a {
  color: black;
}

/* nav stylliing */
.wrapper h1 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  animation: type 3s ease-in-out infinite;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.firstul {
  list-style: none;
  display: flex;
  width: 60%;
  padding-bottom: 20px;
  justify-content: space-around;
}
.minidiv ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.minidiv ul li a {
  font-size: 13px;
  margin-bottom: 20px;
}
.hamburger div {
  margin: 3px;
  height: 4px;
  width: 22px;
  background-color: black;
  position: relative;
  left: 330px;
  bottom: 40px;
}
.close img {
  width: 20px;
  position: relative;
  left: 330px;
  bottom: 40px;
}
.invisible {
  display: none;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 30ch;
  }
}

/* end of nav stylling */

/* first a-text */

.a-text h3 a {
  color: black;
}
.a-text p {
  padding-top: 20px;
  line-height: 25px;
}
hr {
  color: lightgray;
}

.secondpart_2 h2 a {
  color: black;
}
.secondpart_2 h3 a {
  color: black;
}
.b-text h1 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  /* animation: type 9s ; */

  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.wrapper h3 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  /* animation: type 4s ease-in-out ; */
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.opinions h1 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  /* animation: type 4s ; */
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.secondpart_1 h1 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  /* animation: type 4s  ; */
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.secondpart_2 h2 {
  /* text-align: center; */
  font-size: 30px;
  padding: 20px;
  margin-left: 10px;
  /* animation: type 4s ease ; */
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}

/* nav stylling */
@media (max-width: 765px) {
  .wrapper h1 {
    font-size: 15px;
    text-align: center;
  }
  .wrapper hr {
    color: lightgray;
  }
  .firstul {
    display: none;
  }
  .wrapper h3 {
    background-color: #000;
    color: aliceblue;
    position: relative;
    top: 10px;
    font-family: "popins", sans-serif;
  }
  .minidiv {
    position: absolute;
    background-color: rgb(212, 211, 211);
    width: 75%;
    height: 500px;
    transition: 0.5s ease;
    top: 80px;
    transform: translateX(-768px);
  }
  .minidiv ul {
    flex-direction: column;
    padding-left: 20px;
    line-height: 25px;
    padding-top: 20px;
  }
  .minidiv ul :hover {
    transition: 0.5s ease;
    color: rgb(47, 48, 49);
    margin-left: 5px;
  }
  .close {
    display: none;
  }
  .b-text h1 {
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
    animation: type 9s infinite;

    overflow: hidden;
    white-space: nowrap;
    color: #000;
  }
  .wrapper h3 {
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
    animation: type 4s ease-in-out infinite;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
  }
  .opinions h1 {
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
    animation: type 4s infinite;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
  }
  .secondpart_1 h1 {
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
    animation: type 4s infinite;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
  }
  .secondpart_2 h2 {
    /* text-align: center; */
    font-size: 30px;
    padding: 20px;
    margin-left: 10px;
    animation: type 4s ease infinite;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
  }
  .a-text img {
    width: 100%;
  }
  .a-text i {
    padding-left: 10px;
  }
  .a-text h3 {
    color: black;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
  }
  .a-text p {
    padding-left: 10px;
    line-height: 25px;
    width: 80%;
  }
  .a-text i {
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .firstpart hr {
    height: 10px;
    background-color: lightgray;
    border: none;
    margin: 20px 0px;
  }
  .a1-text h3 {
    color: black;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
  }
  .a1-text p {
    padding-left: 10px;
    line-height: 25px;
    width: 80%;
  }
  .a1-text i {
    padding-left: 10px;
  }
  .a2-text h3 {
    color: black;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
  }
  .a2-text p {
    padding-left: 10px;
    line-height: 25px;
    width: 80%;
  }
  .a2-text i {
    padding-left: 10px;
  }
  .a3-text h3 {
    color: black;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
  }
  .a3-text p {
    padding-left: 10px;
    line-height: 25px;
    width: 80%;
  }
  .fourthpart {
    display: none;
  }
  footer {
    position: relative;
    top: 100px;
    background-color: lightgray;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 90px;
    margin-left: 10px;
    margin-right: 30px;
  }
  footer h1 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
  }
  footer button a {
    color: #000;
  }
  footer button {
    width: 120px;
    margin-top: 18px;
    margin-left: 60px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: grey;
    color: black;
  }
}
.a1-text h3 {
  color: black;
  width: 80%;
  padding-left: 10px;
  padding-top: 10px;
}
.a1-text p {
  padding-left: 10px;
  line-height: 25px;
  width: 80%;
}

.a2-text h3 {
  color: black;
  width: 80%;
  padding-left: 10px;
  padding-top: 10px;
}
.a2-text p {
  padding-left: 10px;
  line-height: 25px;
  width: 80%;
}

.a3-text h3 {
  color: black;
  width: 80%;
  padding-left: 10px;
  padding-top: 10px;
}
.a3-text p {
  padding-left: 10px;
  line-height: 25px;
  width: 80%;
}
.b-text img {
  width: 100%;
}
.b-text h3 {
  text-align: center;
  width: 80%;
  font-size: 20px;
  padding: 20px;
}
.b-text h1 {
  padding: 20px;
  font-size: 20px;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-text p {
  padding-left: 10px;
}
.b-text ul li a {
  color: black;
  padding-left: 20px;
  line-height: 30px;

  font-size: 20px;
}
.b-text ul {
  margin-top: 20px;
}

.c-text h1 a {
  color: black;
}
.b-text hr {
  margin-top: 20px;
}
.b-text {
  margin-bottom: 20px;
  padding-top: 20px;
}
.c-text {
  padding-top: 30px;
  padding-left: 20px;
}
.c-text img {
  width: 100%;
}
.opinions h1 {
  padding: 20px;
  font-size: 20px;
  background-color: lightgray;
  margin-top: 20px;
}
.opinions p {
  padding-left: 200px;
  padding-top: 20px;
}
.opinions i {
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.over_op {
  display: flex;
}
.op2 img {
  width: 30%;
  border-radius: 50px;
  border: solid 2px;
  margin-top: 10px;
  margin-left: 20px;
}
.op3 h3 {
  position: relative;
  right: 70px;
  top: 16px;
}
.d-text i {
  padding-left: 20px;
}
.d-text img {
  width: 100%;
  padding-top: 30px;
  height: 50%;
}
.d-text h3 {
  width: 70%;
  color: #000;
  padding-bottom: 20px;
  padding-left: 10px;
}
.d-text h3 a {
  color: black;
}
.d-text h1 {
  padding: 20px;
  font-size: 20px;
  background-color: lightgray;
  margin-top: 20px;
}
.secondpart_1 hr {
  height: 5px;
  border: none;
  background-color: lightgrey;
}
.secondpart_2 h2 {
  padding: 20px;
  font-size: 20px;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
}
.secondpart_2 img {
  width: 100%;
}
.secondpart_2 h3 {
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}
.d-text p {
  width: 90%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.thirdpart {
  display: none;
}

@media (min-width: 765px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }
  .hamburger div {
    display: none;
  }
  .close img {
    display: none;
  }
  .wrapper h3 {
    display: none;
  }
  /* end of nav stylling */
  .a-text {
    /* max-width: 200px; */
    margin-top: 50px;
    padding-right: 30px;
    border-bottom: 3px solid lightgrey;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  .a1-text {
    /* max-width: 200px; */
    margin-top: 50px;
    padding-right: 30px;
    border-bottom: 3px solid lightgrey;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  .a2-text {
    /* max-width: 200px; */
    margin-top: 50px;
    padding-right: 30px;
    border-bottom: 3px solid lightgrey;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  .a3-text {
    /* max-width: 200px; */
    margin-top: 50px;
    padding-right: 30px;
    border-bottom: 3px solid lightgrey;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  .a-text img {
    width: 100%;
  }

  .overall_a {
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    max-width: 250px;
  }
  .overall_a p {
    width: 100%;
    padding-top: 10px;
  }
  .overall_a i {
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .firstpart {
    display: flex;
    margin-top: 40px;
  }
  .b-text {
    max-width: 700px;
    padding-left: 20px;
    border-right: 3px solid lightgrey;
    padding-right: 20px;
    padding-top: 50px;
  }
  .b-text img {
    width: 100%;
    height: 350px;
  }
  .b-text h3 {
    text-align: center;
    width: 90%;
    font-size: 15px;
    padding: 20px;
  }
  .b-text ul li a {
    color: black;
    padding: 10px 0;
  }
  .b-text ul {
    margin-top: 20px;
  }
  .b1-text {
    max-width: 400px;
    padding-left: 20px;
    border-right: 3px solid lightgrey;
    padding-right: 20px;
    padding-top: 50px;
  }
  .b1-text img {
    width: 100%;
  }
  .b1-text h3 {
    text-align: center;
    width: 80%;
    font-size: 15px;
    padding: 20px;
  }
  .b1-text ul li a {
    color: black;
    padding: 10px 0;
  }
  .b1-text ul {
    margin-top: 20px;
  }
  .c-text h1 a {
    color: black;
  }
  .opinions h1 {
    padding: 20px;
    font-size: 20px;
    background-color: lightgray;
    margin-top: 20px;
  }
  .opinions {
    padding-left: 20px;
  }
  .over_op {
    display: flex;
    
  }
  .op2 img {
    width: 30%;
    border-radius: 50px;
    border: solid 2px;
    margin-top: 10px;
  }
  .op3 h3 {
    position: relative;
    right: 70px;
    top: 16px;
  }
  .d-text {
    max-width: 80%;
  }
  .d-text img {
    width: 70%;
    padding-top: 30px;
    height: 20%;
  }
  .d-text h3 {
    width: 80%;
    color: #000;
    padding-bottom: 20px;
  }
  .d-text h3 a {
    color: black;
  }
  .d-text p {
    display: none;
  }
  .d-text h1 {
    display: none;
  }
  .d-text i {
    position: relative;
    right: 25px;
  }

  .secondpart_1 {
    display: flex;
    border-right: 3px solid lightgray;
    width: 60%;
  }
  .overall_secondpart {
    display: flex;
  }
  .secondpart_2 h2 {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 30px;
  }
  .secondpart_2 h2 a {
    color: black;
  }
  .secondpart_2 img {
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .secondpart_2 h3 {
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .secondpart_2 hr {
    margin-left: 20px;
  }
  .thirdpart {
    display: flex;
    width: 80%;
    position: relative;
    left: -10px;
    left: 100px;
    bottom: -1250px;
    max-width: 500px;
    border-top: 3px solid;
  }
  .fourthpart {
    max-width: 532px;
    bottom: -2424px;
    position: absolute;
    left: 110px;
    border-top: 3px solid;
    border-right: 3px solid lightgrey;
  }
  .fourthpart img {
    width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .fourthpart h1 {
    padding-bottom: 20px;
    font-size: 25px;
  }
  .fourthpart h3 {
    padding-bottom: 20px;
  }
  .coloumnist img {
    border: solid;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    height: 80px;
  }

  .coloumnist h3 a {
    color: #000;
  }
  .coloumnist h1 {
    padding-left: 20px;
  }
  .coloumnist h3 {
    width: 100%;
    padding-left: 20px;
  }
  .coloumnist p {
    width: 80%;
    padding-left: 20px;
  }
  body {
    border-right: 3px solid lightgray;
    border-left: 3px solid lightgray;
    border-top: 3px solid lightgray;
    padding-right: 20px;
    padding-left: 40px;
    margin-top: 30px;
    height: 3000px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom: 3px solid lightgrey;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
  }
  footer {
    position: relative;
    top: 570px;
    background-color: lightgray;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 90px;
    display: flex;
  }
  footer h1 {
    padding: 20px;
  }
  footer button a {
    color: #000;
  }
  footer button {
    width: 140px;
    margin-top: 18px;
    margin-left: 20px;
    height: 40px;
    border: none;
    background-color: grey;
    color: black;
  }
}
